body {
  background: #121212;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

#player {
  margin: 20px auto;
  width: 350px;
  background: #181818;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.6);
}

#cover {
  width: 100%;
  border-radius: 15px;
}

#title {
  margin: 15px 0;
  font-size: 1.2rem;
}

#progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

#progress {
  flex: 1;
  margin: 0 10px;
}

#controls button {
  background: #1db954;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

#controls button:hover {
  background: #1ed760;
}

#playlist {
  margin: 30px auto;
  width: 350px;
  background: #181818;
  padding: 20px;
  border-radius: 15px;
}

#playlist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#playlist li {
  padding: 12px;
  margin: 6px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  background: #242424;
  color: #ddd;
}

#playlist li:hover {
  background: #1db954;
  color: #fff;
}

#playlist li.active {
  background: #1ed760;
  color: #fff;
  font-weight: bold;
}
